#contact-2 {
  p {
    @media (max-width:991px) {
      width:100%;
      text-align:center;
    }

  }
  a {
    &:hover {
      text-decoration:none;
    }
  }
  padding:20px 0;
  .col-1, .col-2, .col-3 {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items:center;
  }
  .col-1 {
    p {
      font-family: $opensans;
      font-size: 17px;
      color: #666564;
      letter-spacing: 0;
      line-height: 25px;
      margin-bottom:0;
      @media (max-width:480px) {
        font-size:16px;
      }
    }
    img {
      margin-bottom:10px;
    }
    .p-2 {
      margin-bottom:20px;
    }
    .p-3 {
      font-family: $lato;
      font-size: 16px;
      color: #277D86;
      letter-spacing: 0;
      line-height: 25px;
      text-decoration:underline;
      a {
        color:#277D86;
        &:hover {
          text-decoration:underline;
        }
      }
    }
  }
  .col-2 {
    padding:30px 0;
    .p-1 {
      font-family: $merriweather;
      font-size: 17px;
      color: #474747;
      margin-bottom:-10px;
    }
    .p-2 {
      font-family: $lato;
      font-weight:700;
      font-size: 42px;
      margin-bottom:0px;
      @media (max-width:480px) {
        font-size:32px;
      }
      a {
        color: #575757;

      }
    }
    .p-3 {
      font-family: $merriweather;
      font-size: 16px;
      color: #444444;
      letter-spacing: 0;
      line-height: 48px;
      a {
        color:#444;
      }
    }
    .button {
      max-width:280px;
      font-size:16px;
      display:flex;
      justify-content:center;
      align-items:center;
    }
  }
  .col-3 {
    .container {
      @media (max-width:480px) {
        width:100% !important;
      }
    }
    .x-col-2 {
      @media (max-width:991px) {
        max-width:250px;
      }
      @media (max-width:480px) {
        max-width:350px;
      }
    }
    h6 {
      margin-top:30px;
      font-family: $droid;
      font-weight:400;
      font-size: 28px;
      color: #737271;
      letter-spacing: 0;
      line-height: 25px;
      width:100%;
      text-align:center;
      @media (max-width:480px) {
        margin-bottom:0;
      }
    }
    .schedule-wrap {
      display:flex;
      justify-content:center;
      padding:0;

      p {
        margin-bottom:0;
        @media (max-width:480px) {
          font-size:16px;
          padding:0;
        }
      }
    }
  }
}
#contact {
  height:auto !important;
  margin-top:30px;
}
.form-control {
  font-size:16px;
}