#meet-the-team-1 {
  padding:150px 0 60px 0;
  background:url('../images/bio-bg.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:100% 100%;
  img {
    border-radius:16px;
  }
  h2 {
    font-family: $droid;
    font-size: 48px;
    color: #A2AF70;
    letter-spacing: 1.5px;
    line-height: 61px;
    font-weight:400;
    margin-top:30px;
  }
  p {
    font-family: $opensans;
    font-size: 18px;
    color: #7B7B7B;
    letter-spacing: 0;
    line-height: 25px;
  }
  @media (max-width:1200px) {
    h2 {
      margin-top:10px;
    }
  }
  @media (max-width:991px) {
    .img-wrap {
      text-align:center;
    }
    img {
      max-width:80%;
    }
    padding-top:60px;
  }
  @media (max-width:767px) {
    h2 {
      font-size:44px;
    }
    img {
      max-width:100%;
    }
  }
  @media (max-width:480px) {
    h2 {
      font-size:26px;
      margin-bottom:10px;
    }
    p {
      font-size:16px;
    }
  }
}
