/** SPECIALS **/



#specials  {
  background:url(../images/specials.jpg) no-repeat;
  padding:60px 0 120px 0;
  background-size:cover;
  background-attachment:fixed;
  h2 {
    margin-bottom:20px;
    line-height:50px !important;
    font-weight:400;
    font-family: $droid;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: -0.5px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    @media (max-width:500px) {
      font-size:40px;
    }
  }
  h3 {
    font-weight:400;
    font-family: $montserrat;
    font-size: 31px;
    color: #FFFFFF;
    @media (max-width:500px) {
      font-size:22px;
    }
  }
  .new-patient {

  }
  .three-blocks {
    .specials-bottom {
      text-align:center;
      padding:7em 1em 0em 1em;
      .save {
        font-weight:400;
        text-align:center;
        margin-bottom:10px;
        font-family: $lato;
        font-size: 18px;
        color: #EA871B;
        letter-spacing: -0.25px;
      }
      .label {
        font-weight:400;
        font-family: $opensans;
        font-size: 14px;
        color: #999999;
        letter-spacing: -0.2px;
      }
      .description {
        line-height:25px;
        font-weight:400;
        margin-bottom:10px;
        font-family: $opensans;
        font-size: 18px;
        color: #999999;
        letter-spacing: -0.25px;
      }
    }
    .specials-top {
      border-radius:23px;

      text-align:center;
      padding:1em;
      height:40%;
      padding-bottom:50px;
      margin-bottom:10px;
      @media (max-width:991px) {
        padding-bottom:75px;
      }
      @media (max-width:500px) {
      }
    }
    .specials-bottom {
      height:320px;
      background: #FFFFFF;
      border-radius: 23px;
      @media (max-width:500px) {
        height:350px;
      }
    }
    .specials-circle-wrap {
      text-align:center;
      display:flex;
      align-items:center;
      justify-content:center;

    }
    .specials-circle {
      color:#FFF;
      padding:1em;
      position:relative;
      margin:-100px 0;
      background: #47AFCD;
      border: 4px solid #FFFFFF;
      box-shadow: 0 2px 6px 0 rgba(0,0,0,0.50);
      border-radius: 110px;

    }
    .dollar {
      font-size:36px;
      top:-40px;
      position:relative;
      font-family: $lato;
      font-size: 36px;
      color: #FFFFFF;
      letter-spacing: -1.64px;

    }
    .price {
      left:-5px;
      position:relative;
      /* 65: */
      font-family: $montserrat;
      font-weight:700;
      font-size: 84px;
      color: #FFFFFF;
      letter-spacing: -3.23px;

    }
    display:flex;
    justify-content:space-between;
    @media (max-width:991px) {
      flex-wrap:wrap;
      justify-content:center;
    }
    .block {

    }
    #block-1 {
      .specials-top {
        background: rgba(10,183,233,0.73);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);

      }
      .specials-circle {
        background:#47AFCD;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.50);



      }
      .save {
        color:#3F8FA6;
      }
    }
    #block-2 {
      .specials-top {
        background:rgba(172,183,66, 0.73);
        border-radius: 23px;

      }
      .specials-circle {
        background:#90AB27;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.50);



      }
      .save {
        color:#90AB27;
      }
    }
    #block-3 {
      .specials-top {
        background:rgba(243,132,0,0.73);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);

      }
      .specials-circle {
        background:#F1A444;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.50);

      }
      .save {
        color:#EA871B;

      }
    }
    .block {
      width:33.3333%;
      margin:1.3em;
      h5 {
        margin-top:10px;
        margin-bottom:0;
        font-family: $montserrat;
        font-weight:700;
        font-size: 33px;
        color: #FFFFFF;
        letter-spacing: -0.46px;
        line-height: 35px;
      }

      h6 {
        font-size: 32px;
        margin-bottom:0;
        color: #FFFFFF;
        letter-spacing: -0.5px;
        line-height: 35px;
        font-weight:400;
        @media (max-width:991px) {
          margin-bottom:10px;
        }
      }


      @media (max-width:991px) {
        width:60%;
        align-self:center;
      }
      @media (max-width:767px) {
        width:100%;
        margin-left:0;
        margin-right:0;
      }
    }
  }
}
