#video-testimonials {
  background:url('../images/video-testimonials-bg.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  padding:50px 0 20px 0;
  img {
    border-radius:8px;
  }
  h4 {
    font-family: $droid;
    font-size: 20px;
    color: #6E6E6D;
    letter-spacing: -0.5px;
    margin-top:10px;
  }
  #oc-portfolio-3 {
    .owl-prev, .owl-next {
      opacity:1 !important;
      background:#277D86;
      color:#FFF;
      display:flex;
      justify-content:center;
      align-items:center;
      border:none;
      &:hover {
        background:#216870 !important
      }
    }
    .owl-prev {
      left:-18px;
    }
    .owl-next {
      right:-18px;
    }
  }
}